[Unit]
Description=Serial Port Service
Wants=network.target
BindsTo=dev-ttyUSB0.device
After=dev-ttyUSB0.device

[Service]
Type=simple
ExecStart=/home/pi/work/serial-service/serial-service start

[Install]
WantedBy=multi-user.target
