Source: serial-service
Section: net
Priority: optional
Maintainer: Greg Whiteley <greg.whiteley@gmail.com>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5)
Standards-Version: 3.9.5

Package: serial-service
Architecture: all
Depends: udev, systemd, socat (>= 1.7), ${misc:Depends}
Description: Simplistic port-centric serial server for raspberry pi
 serial-service helps publish your USB serial ports to network sockets via 
 socat.
